{% load static %}

<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<title>Bienvenidos a DJango</title>
	</head>
	<body>
		<div class="content container">
		<div class="page-header">
	        <h1><a href="/">Bienvenidos a DJango</a></h1>
	    </div>
	    <div class="row">
	        <div class="col-md-8" >
	            {% block content%}
	            {% endblock %}
	        </div>
	    </div>
		</div>
	</body>
	<footer>
		<script src="{% static "js/bootstrap.min.js" %}"></script>
	</footer>
</html>